html {
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    --text-size: calc(15px + 0.390625vw);
    --text-modifier: 1;
}
body {
    margin: 0;
    padding: 0;
    color: #071952;
    line-height: 1.25;
}
#welcome-page {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}
#header {
    height: 30vh;
    text-align: center;
    background: linear-gradient(#088395,  white);
}
#header a {color: inherit;}
h1 {font-size: calc(2rem * var(--text-modifier));}
h2 {font-size: calc(1.5rem * var(--text-modifier));}
h3 {font-size: calc(1.17rem * var(--text-modifier));}
p {font-size: calc(1rem * var(--text-modifier));}
#header h1 {
    padding-top: 1rem;
    color: #ebf4f6;
}
#header h2 {
    font-weight: bold;
    padding-top: 1rem;
    margin: 0 1rem;
}
#header p {
    font-weight: bold;
    padding: 0 1rem;
}
#slideshow {
    height: 70vh;
    background: linear-gradient(white 80%, #37b7c3);
}
#slideshow__box {
    display: none;
    margin: 0 auto;
    position: relative;
    background-color: white;
}
#slideshow__box > div {
    position: absolute;
    top: 0.625rem; 
    left: 0.625rem; 
    right: 0.625rem; 
    bottom: 0.625rem; 
}
#slideshow__box img {
    margin: 0 auto;
    width: 25rem;
    height: 12.5rem;
    padding: 2rem;
    object-fit: contain;
}
#addresses {
    display: block;
    background: linear-gradient(#37b7c3, #088395);
    color: #071952;
}
.address__label {
    border: 1px solid #071952;
    border-radius: 16px;
    margin:  0 1rem 1rem 1rem;
    padding: 1rem 1rem;
    font-weight: bold;
}
.address__label h2 {text-decoration: underline;}
.address__label p {padding-left: 1rem;}
button {
    border: 1px solid #ebf4f6;
    border-radius: 8px;
    background-color: transparent;
    color: #071952;
    margin-top: 0.5rem;
    margin-left: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: calc(1rem * var(--text-modifier));
}
button a {
    color: #ebf4f6;
    text-decoration: none;
}
button:hover,
button:active {
    color: #071952;
    background-color: #ebf4f6;
    border: 1px solid #37b7c3;
}
.telephone button {margin-left: 0;}

@media (orientation: landscape) {
    html {--text-modifier: 1;}
    #slideshow {background: linear-gradient(white 70%, #37b7c3);}
    #slideshow__box img {
        width: 25rem;
        height: 12.5rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 712px) {
    html {--text-modifier: 1.5;}
    #slideshow {background: linear-gradient(white 60%, #37b7c3);}
    #slideshow__box img {
        width: 40rem;
        height: 20rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 712px) and (orientation: landscape) {
    html {--text-modifier: 1;}
    #slideshow {background: linear-gradient(white 70%, #37b7c3);}
    #slideshow__box img {
        width: 25rem;
        height: 12.5rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 768px) {
    html {--text-modifier: 1.5;}
    #slideshow {background: linear-gradient(white 60%, #37b7c3);}
    #slideshow__box img {
        width: 40rem;
        height: 20rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;}
}
@media (min-width: 768px) and (orientation: landscape) {
    html {--text-modifier: 1.25;}
    #slideshow {background: linear-gradient(white 70%, #37b7c3);}
    #slideshow__box img {
        width: 25rem;
        height: 12.5rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 912px) {
    html {--text-modifier: 2.5;}
    #slideshow {background: linear-gradient(white 60%, #37b7c3);}
    #slideshow__box img {
        width: 40rem;
        height: 20rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 912px) and (orientation: landscape) {
    html {--text-modifier: 1.25;}
    #slideshow {background: linear-gradient(white 70%, #37b7c3);}
    #slideshow__box img {
        width: 25rem;
        height: 12.5rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    html {--text-modifier: 2;}
    #slideshow {background: linear-gradient(white 80%, #37b7c3);}
    #slideshow__box img {
        width: 40rem;
        height: 20rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
    }
}
@media (min-width: 992px) and (orientation: landscape) {
    html {--text-modifier: 1.5;}
    #slideshow {background: linear-gradient(white 70%, #37b7c3);}
    #slideshow__box img {
        width: 40rem;
        height: 20rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    html {--text-modifier: 1.9;}
    #slideshow__box img {
        width: 50rem;
        height: 25rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: linear-gradient(#37b7c3, #088395);

    }
}
@media (min-width: 1200px) and (orientation: landscape) {
    html {--text-modifier: 2;}
    #slideshow {background: linear-gradient(white 70%, #37b7c3);}
    #slideshow__box img {
        width: 40rem;
        height: 20rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1400px) {
    html {--text-modifier: 2;}
    #header {height: 40vh;}
    #header h2 {font-size: 4rem;}
    #slideshow {height: 60vh;}
    #slideshow__box img {
        width: 50rem;
        height: 25rem;
    }
    #addresses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: linear-gradient(#37b7c3, #088395);
    }
}
